h1{
    text-align: center;
}
img{
    width: 1220px;
    padding-left: 100px;
    border: 60px;
}
p{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    background-color: darkcyan;
}